.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 6rem;
  &__title {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &__text {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &__image {
    width: 90%;
    object-fit: cover;
    object-position: center;
  }
  &__homeButton {
    margin-top: 3rem;
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #fd5365;
    color: #fd5365;
    letter-spacing: 1px;
    text-shadow: 0;
    cursor: pointer;
    transition: all 0.25s ease;
    &:hover {
      color: white;
      background: #fd5365;
    }
    &:active {
      letter-spacing: 2px;
    }
    & > a {
      text-decoration: none;
      color: inherit;
    }
  }
}
